.About{
    background-color: white;
    border-radius: 25px;
    height: 500px;
    border: solid 3px red;
}
.Aboutname{
    text-align: center;
    padding: 15px;
}
.aboutp{
    text-align: center;
    word-wrap: break-word;
    text-indent: 30px;
    margin-left: 10%;
    margin-right:10%;
    font-size: 25px;
    
}
.aboutp2{
    text-align: center;
    word-wrap: break-word;
    text-indent: 30px;
    margin-left: 10%;
    margin-right:10%;
    font-size: 25px;

}
.box{
    display: flex;
    align-items: center;
}
.p2{
    text-align: center;
    margin-left: 10%;
    font-size: 22px;
    margin-right:10%;
   
}
.Aboutpic{
   padding: 0px;
}