.label {
    height: 350px;
    width: 691px;
}

 .text-wrapper {
    color: var(--secondarysecondary-10);
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    
    line-height: 80px;
    
    top: 0px;
    width: 691px;
}
.btn {
    background-color:white;
    color: green;
    border: 3px solid green;
   
    padding: 20px 40px;
    font-size: 16px;
    position: relative;
    left: 100px;
    transition: transform 0.3s;
  }
  
  .btn:hover {
    animation: bubble 0.4s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
