#product-page header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    margin: 0;
    gap: 1%;
}

#product-page-info-section{
    display: flex;
    flex-direction: column; 
    border: 1px solid rgba(0, 0, 0, 0.193);
    height: 600px;
    text-align: left;
    max-width: 400px;
    position: relative;
}

#product-page-info-section  p, h2, button {
    /* margin:20px 5px; */
    padding: 10px 25px;
}

#product-page-main-image{
    height: 600px;
    max-width: 600px;
}

#product-page-request-btn {
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.5em;
    width: 250px;
    /* margin: 10px 50px; */
    /* margin-top: 90%; */
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

#product-page-request-btn:hover {
    transform: scale(1.05);
    transition: 100ms;

}