.navbarFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: #CFDACA;
}

.navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1264px; */
    /* border: 1px solid black; */
    width: 100%;
    padding: 10px 5%;
}

.menuSection {
    display: flex;
    align-items: center;
    padding: 8px;
    max-width: 50px;
}

.menuItems {
    color: rgba(92, 124, 76, 1);
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.menuItem {
    flex: 0 0 auto;
}

.highlighted {
    background-color: unset;
    justify-content: center;
}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 80px; */
    margin: 0;
    width: 408px;
    cursor: pointer;
    /* border: 1px solid black; */
}


.logoTitle {
    color: rgba(92, 124, 76, 1);
}

.iconSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 0;
}

.logoWithTitle {
    height: 61px;
    width: 250px;
}

.logoFrame {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    position: relative;
    height: 10vh;
}

.logo {
    position: relative;
    width: 282px;
}

.logoImage {
    max-height: 44px;
    position: relative;
    /* width: 48px; */
}
.logoText {
    color: rgba(101, 136, 84, 1);
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 60px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.mainLogo{
    height: 65px;
    /* border: 1px solid black; */
    margin: 0;
}

.menuIconsScreen {
    align-items: center;
    display: inline-flex;
    justify-content: flex-end;
    padding: 8px 0;
    position: relative;
}

.menuIconInstance {
    flex: 0 0 auto;
    font-size: 25px;
    color: #5C7C4C;
}
